<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Deploy BiP</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jumbotron-narrow.css') }}">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Create</a>
                    </li>
                    <li role="presentation"><a href="showDeploy">Deploy</a>
                    </li>
                    <li role="presentation"><a href="#">Info</a>
                    </li>
                    <li role="presentation"><a href="showFAQ">FAQ</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">BiP Deployment App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Create Instructions</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Select BiP</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>BSA RAKUR VERIFIERING</h4>
                <p>Online deployment of BSA Rakur Tomcat</p>
 
                <h4>BSA RAKUR PRODUKTION</h4>
                <p>Online deployment of BSA Rakur Tomcat</p>

            </div>
 
            <div class="col-lg-6">
                <h4>ROLLING Installation</h4>
                <p>Vsgtom010 and Vsgtom011</p>
 
                <h4>ROLLING Installation</h4>
                <p>Vsgtom020 and Vsgtom022</p>

            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; FK-IT Inovation 2017</p>
        </footer>
 
    </div>
</body>
 
</html>
